@use "bootstrap/scss/bootstrap";

// Importar Bootstrap con SCSS
@import "bootstrap/scss/bootstrap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

// Reset adicional para eliminar márgenes y paddings por defecto
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body, #app {
    height: 100%;
    margin: 0;
    padding: 0;;
}
/* // Estilos globales
html,
body {
    height: auto;
    width: auto;
    font-family: 'Inter', sans-serif; // Personaliza la fuente
    background-color: #f8f9fa; // Color de fondo general
} */